/* Global styles */
* {
    background-color: #e6ddd6;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing to include padding and border in the element's total width and height */
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframes for slide-in animation */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Apply the fade-in animation */
.fade-in {
    opacity: 0; /* Start with the element invisible */
    animation: fadeIn 2s forwards; /* Apply the animation */
    animation-delay: 0.5s; /* Synchronize the animation delay */
}

/* Image styles */
img {
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #918983;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    animation: fadeIn 2s forwards; /* Apply the fade-in animation */
    animation-delay: 0.5s; /* Synchronize the animation delay */
    z-index: 1;
}

h1 {
    font-size: 1500%; /* Adjust font size */
    margin-top: 8%; /* Add margin to avoid overlap with the fixed nav */
    text-align: center;
    color: #a37cf0;
    text-shadow: 5px 5px 10px #918983;
    animation: fadeIn 2s forwards; /* Apply the fade-in animation */
    animation-delay: 0.5s; /* Synchronize the animation delay */
    z-index: -1;
    background-color: rgba(255, 255, 255, 0);
}

/* Text styles */
.text-with-image {
    overflow: hidden;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    margin-top: 20px;
    margin-left: 20px;
}

li {
    font-size: 25px;
    line-height: 1.6;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .content {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .content-container {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .content {
        width: 90%;
    }
}

#content {
    padding: 20px; /* Add padding for better spacing */
    animation: fadeIn 2s forwards; /* Apply the fade-in animation */
    animation-delay: 0.5s; /* Synchronize the animation delay */
}

#welcomeText {
    width: 50%;
    margin-right: 5%;
    margin-top: 1%;
    float: right;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #5b3629;
    font-weight: bold;
    opacity: 0; /* Start with the element invisible */
    animation: slideIn 1s forwards, fadeIn 1s forwards; /* Apply both slide-in and fade-in animations */
    animation-delay: 1s; /* Delay the animation to start after the fade-in animations finish */
}
