/* Global styles */
* {
    background-color: #e6ddd6;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing to include padding and border in the element's total width and height */
}

ul {
    margin-top: 20px;
    margin-left: 20px;
}

li {
    font-size: 25px;
    line-height: 1.6;
}

